@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');

body {
  margin: 0;
  font-family: 'Lusitana';
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  padding: 1rem;
}

.header-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-section a {
  text-decoration: none;
  color: black;
}

.header-section a:hover {
  color: #c60734;
}

