@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');

body {
  margin: 0;
  font-family: 'Lusitana';
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 20px;
}

.header-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-section a {
  text-decoration: none;
  color: black;
}

.header-section a:hover {
  color: #c60734;
}

.login-box {
  width: 400px;
  height: 400px;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.login-box-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.login-box-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-family: 'Lusitana';
  background-color: #c60734;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.login-box-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.create-account-box-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-family: 'Lusitana';
  background-color: #c60734;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-img-container {
  display: flex;
  gap: 3rem;
  margin: 1rem;
}

.home-img {
  object-fit: cover;
  width: 350px;
  border-radius: 3rem;
}

.order-btn {
  font-family: 'Lusitana';
  background-color: #c60734;
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu-category-img {
  height: 350px;
  width: auto;
}

.menu-category-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.menu-category-drinks {
  width: 350px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
}

.category-header {
  font-size: 2rem;
}

ul {
  padding: 0;
}

.display-item {
  height: 200px;
  width: 500px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  font-size: 25px;
  gap: 50px;
  margin: 25px;
  box-shadow: -2.5px 2.5px 10px  grey;
  padding: 10px;
}

.display-item-img {
  height: 100%;
  border-radius: 25px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
