@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');

body {
  margin: 0;
  font-family: 'Lusitana';
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  padding: 1rem;
}

.header-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-section a {
  text-decoration: none;
  color: black;
}

.header-section a:hover {
  color: #c60734;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-img-container {
  display: flex;
  gap: 3rem;
  margin: 1rem;
}

.home-img {
  object-fit: cover;
  width: 350px;
  border-radius: 3rem;
}

.order-btn {
  font-family: 'Lusitana';
  background-color: #c60734;
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
}

